# Guided Project: Mobile App for Lottery Addiction
In this project, we are going to contribute to the development of a mobile app by writing a couple of functions that are mostly focused on calculating probabilities. The app is aimed to both prevent and treat lottery addiction by helping people better estimate their chances of winning.

The app idea comes from a medical institute which is specialized in treating gambling addictions. The institute already has a team of engineers that will build the app, but they need us to create the logical core of the app and calculate probabilities. For the first version of the app, they want us to focus on the 6/49 lottery and build functions that can answer users the following questions:

* What is the probability of winning the big prize with a single ticket?
* What is the probability of winning the big prize if we play 40 different tickets (or any other number)?
* What is the probability of having at least five (or four, or three) winning numbers on a single ticket?

The scenario we're following throughout this project is fictional — the main purpose is to practice applying probability and combinatorics (permutations and combinations) concepts in a setting that simulates a real-world scenario.

Core Functions
Below, we're going to write two functions that we'll be using frequently:

* factorial() — a function that calculates factorials
* combinations() — a function that calculates combinations

To calculate factorials, this is the formula we need to use:

` n! = n * (n - 1) * (n - 2) * ... *3 * 2 * 1 `

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. The drawing is done without replacement, which means once a number is drawn, it's not put back in the set.

To find the number of combinations when we're sampling without replacement and taking only k objects from a group of n objects, we can use the formula:

`_nC_k = C(n,k) = n! / k!(n-k)! `

1. Write a function named `factorial()` which takes as input a number `n` and computes the factorial of that number `n`.

In [1]:
def factorial(n):
    if (n == 0):
        return 1
    else:
        return n * factorial(n - 1)

In [2]:
num = int(input("Enter a number: \n"))
fact = factorial(num)
print("Factorial of {} is {}".format(num, fact))

Enter a number:
6
Factorial of 6 is 720

2. Write a function named `combinations()` which takes in two inputs (`n` and `k`) and outputs the number of combinations when we're taking only `k` objects from a group of `n` objects.

In [3]:
def combinations(n, k):
    combs = factorial(n) / (factorial(k) * factorial(n-k))
    return int(combs)

In [4]:
_49C_6 = combinations(49, 6)

In the 6/49 lottery, six numbers are drawn from a set of 49 numbers that range from 1 to 49. A player wins the big prize if the six numbers on their tickets match all the six numbers drawn. If a player has a ticket with the numbers {13, 22, 24, 27, 42, 44}, he only wins the big prize if the numbers drawn are {13, 22, 24, 27, 42, 44}. If only one number differs, he doesn't win.

For the first version of the app, we want players to be able to calculate the probability of winning the big prize with the various numbers they play on a single ticket (for each ticket a player chooses six numbers out of 49). So, we'll start by building a function that calculates the probability of winning the big prize for any given ticket.

We discussed with the engineering team of the medical institute, and they told us we need to be aware of the following details when we write the function:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list, which will serve as the single input to our function.
* The engineering team wants the function to print the probability value in a friendly way — in a way that people without any probability training are able to understand.

Let's try to write this function!

1. Write a function named one_ticket_probability(), which takes in a list of six unique numbers and prints the probability of winning in a way that's easy to understand.

     * Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 possible numbers, and six numbers are sampled without replacement. Use the combinations() function you wrote in the previous cell.
     * The user inputs just one combination, which means the number of successful outcomes is 1.
     * Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for one ticket.
     * The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
        * Print the probability as a percentage.
        * Use the str.format() method to make the printed message more personalized with respect to what the user inputs.

2. Test your function using a few inputs.

In [5]:
def one_ticket_probability(nums):
    prob = 1 / _49C_6 #or 1 / int(len(nums))
    return (prob * 100)

In [27]:
list_of_nums = list(map(int, input("\nEnter 6 comma separated numbers (e.g 1,2,3): \n").strip().split(',')))[:6] 
prob1 = one_ticket_probability([1,2,3,4,5,6])
print("\nYour selection was {} and your chance of winning based on this selection is {:f}%".format(list_of_nums, float(prob1)))

Enter 6 comma separated numbers (e.g 1,2,3):
1,2,3,4

Your selection was [1, 2, 3, 4] and your chance of winning based on this selection is 0.000007%

For the first version of the app, however, users should also be able to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

Here, we'll focus on exploring the historical data coming from the Canada 6/49 lottery. The data set can be downloaded from Kaggle[https://www.kaggle.com/datascienceai/lottery-dataset].

* Open the `649.csv` file and save it as a pandas DataFrame.

In [7]:
import pandas as pd

In [8]:
lottery_df = pd.read_csv("649.csv")
lottery_df

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34
3,649,4,0,7/3/1982,3,9,10,13,20,43,34
4,649,5,0,7/10/1982,5,14,21,31,34,47,45
...,...,...,...,...,...,...,...,...,...,...,...
3660,649,3587,0,6/6/2018,10,15,23,38,40,41,35
3661,649,3588,0,6/9/2018,19,25,31,36,46,47,26
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

* Print the number of rows and columns of this data set.

In [28]:
rows = len(lottery_df)
cols = len(lottery_df.columns)
print("{} rows by {} columns".format(rows, cols))

3665 rows by 11 columns

* Print the first and the last three rows and try to get familiar with the data set.

In [10]:
first_three_rows = lottery_df.head(3)
first_three_rows

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
0,649,1,0,6/12/1982,3,11,12,14,41,43,13
1,649,2,0,6/19/1982,8,33,36,37,39,41,9
2,649,3,0,6/26/1982,1,6,23,24,27,39,34

In [11]:
last_three_rows = lottery_df.tail(3)  
last_three_rows

,PRODUCT,DRAW NUMBER,SEQUENCE NUMBER,DRAW DATE,NUMBER DRAWN 1,NUMBER DRAWN 2,NUMBER DRAWN 3,NUMBER DRAWN 4,NUMBER DRAWN 5,NUMBER DRAWN 6,BONUS NUMBER
3662,649,3589,0,6/13/2018,6,22,24,31,32,34,16
3663,649,3590,0,6/16/2018,2,15,21,31,38,49,8
3664,649,3591,0,6/20/2018,14,24,31,35,37,48,17

Here, we're going to write a function that will enable users to compare their ticket against the historical lottery data in Canada and determine whether they would have ever won by now.

The engineering team told us that we need to be aware of the following details:

* Inside the app, the user inputs six different numbers from 1 to 49.
* Under the hood, the six numbers will come as a Python list and serve as an input to our function.
* The engineering team wants us to write a function that prints:
    * the number of times the combination selected occurred in the Canada data set; and
    * the probability of winning the big prize in the next drawing with that combination.
    
We'll now start working on writing this function. Note there's more than one way to solve this problem, so take the instructions below as suggestions.

1. Extract all the winning six numbers from the historical data set as Python sets (set is a data type in Python).

    * Write a function named `extract_numbers()` that takes as input a row of the lottery dataframe and returns a set containing all the six winning numbers. For the first row, for instance, the function should return the set `{3, 41, 11, 12, 43, 14}`.
    * Use `extract_numbers()` in combination with the `DataFrame.apply()` method to extract all the winning numbers.

In [12]:
def extract_numbers(row):
    row_to_list = row.values.tolist()
    list_to_set  = set(row_to_list)
    return list_to_set

In [30]:
series = lottery_df.iloc[:,4:10].apply(extract_numbers, axis=1)
series.head()

0    {3, 41, 11, 12, 43, 14}
1    {33, 36, 37, 39, 8, 41}
2     {1, 6, 39, 23, 24, 27}
3     {3, 9, 10, 43, 13, 20}
4    {34, 5, 14, 47, 21, 31}
dtype: object

2. Write a function named `check_historical_occurence()` that takes in two inputs: a Python list containing the user numbers and a pandas Series containing sets with the winning numbers (this is the Series you'll extract using the `extract_numbers()` function).

    * Convert the user numbers list as a set using the `set()` function.
    * Compare the set against the pandas Series that contains the sets with the winning numbers to find the number of matches — a Series of Boolean values will be returned as a result of the comparison (the value will be `True` each time there'll be a match).
    * Print information about the number of times the combination inputted by the user occurred in the past.
    * Print information (in an easy-to-understand way) about the probability of winning the big prize in the next drawing with that combination.

3. Test your function with a few inputs.

In [33]:
def check_historical_occurence(l, ps):
    l_to_set = set(l)
    comp = l_to_set == ps
    comp_sum = comp.sum()
    prob = comp_sum / rows
    print("This selection {} has been picked {} time(s) in the past;\n".format(l_to_set, comp_sum))
    print("There's a {:f}% chance you will win the big prize in the next drawing with that selection.".format(float(prob)))

In [34]:
check_historical_occurence([3, 41, 11, 12, 43, 14], series)

This selection {3, 41, 11, 12, 43, 14} has been picked 1 time(s) in the past;

There's a 0.000273% chance you will win the big prize in the next drawing with that selection.

In [35]:
check_historical_occurence([34, 5, 14, 47, 21, 31], series)

This selection {34, 5, 14, 47, 21, 31} has been picked 1 time(s) in the past;

There's a 0.000273% chance you will win the big prize in the next drawing with that selection.

So far, we wrote two functions:

* `one_ticket_probability()` — calculates the probability of winning the big prize with a single ticket
* `check_historical_occurrence()` — checks whether a certain combination has occurred in the Canada lottery data set
Lottery addicts usually play more than one ticket on a single drawing, thinking that this might increase their chances of winning significantly. Our purpose is to help them better estimate their chances of winning — on this screen, we're going to write a function that will allow the users to calculate the chances of winning for any number of different tickets.

We've talked with the engineering team and they gave us the following information:

The user will input the number of different tickets they want to play (without inputting the specific combinations they intend to play).
Our function will see an integer between 1 and 13,983,816 (the maximum number of different tickets).
The function should print information about the probability of winning the big prize depending on the number of different tickets played.

Let's now start writing this function.

1. Write a function named `multi_ticket_probability()` that prints the probability of winning the big prize depending on the number of different tickets played.

    * Start by calculating the total number of possible outcomes — this is total number of combinations for a six-number lottery ticket. There are 49 total numbers, and six numbers are sampled without replacement. Use the `combinations()` function you wrote in earlier cells.
    * The number of successful outcomes is given by the number of tickets the user intends to play.
    * Use the number of successful outcomes and the total number of possible outcomes to calculate the probability for the number of tickets inputted.
    * The function should print the probability in a way that's easy to understand. It's up to you what you choose, but here are a few suggestions:
        * Print the probability as a percentage.
        * Use the `str.format()` method to make the printed message more personalized with respect to what the user inputs.

2. Test your function using the following inputs: `[1, 10, 100, 10000, 1000000, 6991908, 13983816]`.

In [17]:
def multi_ticket_probability(num_tickets):
    successful_outcomes = (num_tickets / _49C_6) * 100
    if num_tickets == 1:
        print("There's a {:f}% chance you will win the big prize for playing 1 ticket.\n".format(float(successful_outcomes)))
    else:
        print("There's a {:f}% chance you will win the big prize for playing {} different tickets.\n".format(float(successful_outcomes), num_tickets))

In [18]:
test_inputs = [1, 10, 100, 10000, 1000000, 6991908, 13983816]

In [19]:
for num in test_inputs:
    multi_ticket_probability(num)

There's a 0.000007% chance you will win the big prize for playing 1 ticket.

There's a 0.000072% chance you will win the big prize for playing 10 different tickets.

There's a 0.000715% chance you will win the big prize for playing 100 different tickets.

There's a 0.071511% chance you will win the big prize for playing 10000 different tickets.

There's a 7.151124% chance you will win the big prize for playing 1000000 different tickets.

There's a 50.000000% chance you will win the big prize for playing 6991908 different tickets.

There's a 100.000000% chance you will win the big prize for playing 13983816 different tickets.

Let's write one more function to allow the users to calculate probabilities for two, three, four, or five winning numbers.

For extra context, in most 6/49 lotteries there are smaller prizes if a player's ticket match two, three, four, or five of the six numbers drawn. As a consequence, the users might be interested in knowing the probability of having two, three, four, or five winning numbers.

These are the engineering details we'll need to be aware of:

* Inside the app, the user inputs:
    * six different numbers from 1 to 49; and
    * an integer between 2 and 5 that represents the number of winning numbers expected
* Our function prints information about the probability of having the inputted number of winning numbers.

To help you code this function, we'll guide you through calculating the probability for having exactly five winning numbers. First, we need to differentiate between these two probability questions:
* What is the probability of having exactly five winning numbers?
* What is the probability of having at least five winning numbers?

For our purposes here, we want to answer the first question.

For the sake of example, let's say a player chose these six numbers on a ticket: `(1, 2, 3, 4 ,5 ,6)`. Out of these six numbers, we can form six five-number combinations:

* (1, 2, 3, 4, 5)
* (1, 2, 3, 4, 6)
* (1, 2, 3, 5, 6)
* (1, 2, 4, 5, 6)
* (1, 3, 4, 5, 6)
* (2, 3, 4, 5, 6)

We can also find the total number of five-number combinations by calculating ("6 choose 5"):

`_6C_5 = C(6,5) = 6!/ 5!(6-5)! = 6 `

For each one of the six five-number combinations above, there are 44 possible successful outcomes in a lottery drawing. For the combination `(1, 2, 3, 4, 5)`, for instance, there are 44 lottery outcomes that would return a prize:

* (1, 2, 3, 4, 5, 6)
* (1, 2, 3, 4, 5, 7)
* ...
* (1, 2, 3, 4, 5, 30)
* (1, 2, 3, 4, 5, 31)
* ...
* (1, 2, 3, 4, 5, 49)

However, we need to leave out the outcome `(1, 2, 3, 4, 5, 6)` because we're only interested in outcomes that match exactly five numbers, not at least five numbers. This means that for each of our six five-number combinations we have 43 possible successful outcomes, not 44.

Since there are six five-number combinations and each combination corresponds to 43 successful outcomes, we need to multiply 6 by 43 to find the total number of successful outcomes:

`6 * 43 = 258`

Since there are 258 successful outcomes and there are 13,983,816 total possible outcomes (the result of ), the probability of having exactly five winning numbers for a single lottery ticket is:

`P(5-winning numbers) = 258 / C(49,6) = 0.00001845`

Now let's try to code the function. To calculate the probabilities, we tell the engineering team that the specific combination on the ticket is irrelevant behind the scenes, and we only need the integer between 2 and 5 representing the number of winning numbers expected.

1. Write a function named `probability_less_6()` which takes in an integer between `2` and `5` and prints information about the chances of winning depending on the value of that integer.

    * First, calculate the number of successful outcomes given the value of the input. We already covered how to calculate this when the input is `5` — when the input is lower, we need to take the same approach (but be careful, the number of combinations will vary). 
    * Second, calculate the number of total possible outcomes.
    * Calculate the probability using the number of successful outcomes and the number of total possible outcomes.
    * Display the probability value in a way that will be easy to understand for the user.

2. Test your function on all possible inputs: `2`, `3`, `4`, and `5`.

In [36]:
def probability_less_6(num):
    if (2 <= num <= 5):
        _6C_num   = combinations(6, num)
        remainder  = 49 - (num + 1) #Since we want to focus on possible chances for exactly <nums>, the total left is dynamic (-(nums+1))
        wrong_nums = 6 - num
        _remainderC_wrong_nums = combinations(remainder, wrong_nums) 
        total_outcomes = _6C_num * _remainderC_wrong_nums
        probability = (total_outcomes / _49C_6) * 100
        print("There's a {:f}% chance you will have {} winning numbers out of 6.\n".format(float(probability), num)) 
    else:
        print("You can only win the small prize for having 2 to 5 matching numbers")

In [37]:
test_ints = [2, 3, 4, 5]

In [38]:
for test_int in test_ints:
    probability_less_6(test_int)

There's a 17.504342% chance you will have 2 winning numbers out of 6.

There's a 2.029489% chance you will have 3 winning numbers out of 6.

There's a 0.101474% chance you will have 4 winning numbers out of 6.

There's a 0.001845% chance you will have 5 winning numbers out of 6.

That was all for the guided part of the project! We managed to write four main functions for our app:

* `one_ticket_probability()` — calculates the probability of winning the big prize with a single ticket
* `check_historical_occurrence()` — checks whether a certain combination has occurred in the Canada lottery data set
* `multi_ticket_probability()` — calculates the probability for any number of of tickets between 1 and 13,983,816
* `probability_less_6()` — calculates the probability of having two, three, four or five winning numbers

Possible features for a second version of the app include:

* Making the outputs even easier to understand by adding fun analogies (for example, we can find probabilities for strange events and compare with the chances of winning in lottery; for instance, we can output something along the lines "You are 100 times more likely to be the victim of a shark attack than winning the lottery").
* Combining the `one_ticket_probability()` and `check_historical_occurrence()` to output information on probability and historical occurrence at the same time.
* Creating a function similar to `probability_less_6()` which calculates the probability of having at least two, three, four or five winning numbers. Hint: the number of successful outcomes for having at least four winning numbers is the sum of these three numbers:
    * The number of successful outcomes for having four winning numbers exactly
    * The number of successful outcomes for having five winning numbers exactly
    * The number of successful outcomes for having six winning numbers exactly
    
When you finish your project, try to make it portfolio-ready using this style guide for data science projects[https://www.dataquest.io/blog/data-science-project-style-guide/].

In [ ]:
#Congratulations!!!